<h3>Available Records</h3>
<% if @albums.any? %>
  <ul> <% @albums.each do |album| %>      
    <li>&ETH;<%= album.price %> - <a href="/albums/<%= album.id %>"><strong><%= album.name %></strong></a> - <em><%= album.year %></em> </li>
  <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>
<br>

<form action="/albums/sort" method="post">
<label>Sort by:</label>
<select name="sort_by">
    <option value="name">alphabetically</option>
    <option value="year">by year</option>
    <option value="price">by price</option>
</select>
<button type="submit" class="btn-success">Sort</button>
</form> 

<form action="/albums/random" method="get">
<button type="submit" class="btn btn-danger">Get Random Album</button>
</form>
