<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <a href="/albums">
      <div class="jumbotron">
        <h1>All Sales Vinyl</h1>
      </div>
      </a>
      <%= yield %>
    </div>
  </body>
</html>